.discover{
    background: #010606;
    text-align: center;
    padding: 100px;

    &__title{
        margin-top: -30px;
        color: #ffffff;
        font-size: 50px;
        margin-bottom: 50px;
    }

    &__content{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    &__block{
        max-width: 300px;
        border-radius: 10px;
        background: #fff;
        padding: 40px 20px;

        &:hover{
            transform: scale(1.02);
            transition: all .3s ease;
        }
    }

    &__block-img{
        margin-bottom: 30px;
        max-width: 200px;
        min-height: 150px;
    }

    &__block-title{
        margin-bottom: 15px;
        font-size: 1.3rem;
        color: #242424;
    }

    &__block-descr{
        font-size: 1.1rem;
        color: rgb(34, 34, 34);
    }

    @media(max-width: 900px) {
        .discover{
            &__content{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media(max-width: 570px) {
        .discover{
            
            &__title{
                font-size: 40px;
            }
            &__content{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}